# Copyright (c) 2023, Bennett Samowich <bennett@foolean.org>
# All rights reserved
# SPDX short identifier: BSD-3-Clause
---

- name: Ensure DNS Server is not installed (CIS)
  become: true
  ansible.builtin.package:
    name:
      - 'bind'
      - 'bind-chroot'
    state: absent
