// prime the server with knowledge of the root servers
zone "." {
    type hint;
    file "{{ dns_server_etc_dir }}/db.root";
};

// be authoritative for the localhost forward and reverse zones, and for
// broadcast zones as per RFC 1912

zone "localhost" {
    type master;
    file "{{ dns_server_etc_dir }}/db.local";
    allow-query { any; };
};

zone "127.in-addr.arpa" {
    type master;
    file "{{ dns_server_etc_dir }}/db.127";
    allow-query { any; };
};

zone "0.in-addr.arpa" {
    type master;
    file "{{ dns_server_etc_dir }}/db.0";
    allow-query { any; };
};

zone "255.in-addr.arpa" {
    type master;
    file "{{ dns_server_etc_dir }}/db.255";
    allow-query { any; };
};
